.container{
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 
  
    
}.list{
    background-color: aquamarine;
    border: 1px solid #333;
  width:600px;
   text-align: center;
   padding: 30px;
}
@media only screen and (max-width:768px){
    .list{
      padding: 40px;
    }
}
