.container{
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.list{
    box-sizing: border-box;
    color: #ffffff;
   width: 50%;
   height: 80px;
   padding: 20px;
   
   

}
@media  screen and (max-width:768px) {
    .list{
        width: 100%;
    }
}